:root {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  line-height: 1.6;
  font-weight: 400;
  
  color-scheme: dark;
  color: #f8f8f8;
  background-color: #1e1e1e;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #57c754;
  text-decoration: inherit;
}

a:hover {
  color: #7de87a;
}

